.top-h1 {
  display: inline-block;
  max-width: 50%;
}
.float-right {
  float: right;
  margin: 4px;
}
.clear {
  clear: both;
}
.help-pane {
  position: fixed;
  top: 30px;
  right: 20px;
  width: 70%;
  padding: 10px;
  border: solid 2px #ddd;
  background: #f0f0f0;
  height: 80%;
  z-index: 3;
  overflow: scroll;
}
.relative {
  position: relative;
  width: 100%;
}
.close-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 5px;
  margin: 2px;
  font-size: 20pt;
  text-decoration: none;
}
.close-icon:hover {
  background-color: #ddd;
}
.message {
  width: 70%;
  padding: 10px;
  border: solid 2px #eee;
}
[v-cloak] { display: none; }
.layout {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}
.right {
  text-align: right;
}
.error {
  border: solid 2px red;
  color: red;
}
pre {
  border: solid 1px #AAA;
  margin: 10px;
  padding: 4px;
  background-color: #ffffff;
}
pre.prerender {
  position: relative;
}
pre.prerender iframe {
  position: absolute;
  top: 10px;
  right: 10px;
  border-style: solid;
}
pre.render {
  width: 100%;
  text-align: center;
  background: none;
  border: none;
  margin: 4px;
  padding: none;
}
p > code {
  color: green;
}
